<div class="box">
  <div id="{{id}}">
    <i class="fa fa-thermometer-half fa-5x"></i>
    <div>
      <span class="sensor-value">{{value}}</span>
    </div>
    <span class="box-footer sensor-origin">{{origin}}</span>
  </div>
</div>
